@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
:root {
  --black: #000;
  --white: #fff;
  --main-clr: #04c5f9;
  --smain-clr: #ff0000;
  --green-clr: #7fff00;
  --hslr-red: hsl(0, 100%, 50%);
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: none;
  transition: 0.3s linear;
}
html {
  /* background: linear-gradient(to right, var(--smain-clr), var(--main-clr)); */
  background: var(--black);
  font-size: 100%;
  scroll-behavior: smooth;
  margin-bottom: 500px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(transparent, var(--smain-clr), transparent);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--main-clr), transparent);
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, var(--black) 5%, transparent),
    url(./img/banner1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.logo {
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  position: sticky;
  top: 0;
}
.navbar {
  margin: 20px 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
}
.nav-links {
  /*   text-align: right;
  flex: 1; */
  margin-left: auto;
}
.nav-links ul {
  list-style-type: none;
}
.nav-links ul li {
  display: inline-block;
  padding: 10px 30px;
}
.nav-links ul li a {
  font-size: 18px;
  color: var(--main-clr);
  transition: 0.3s;
}
.nav-links ul li a:hover {
  color: var(--smain-clr);
}
/*-----------Contact Us Button-----------*/
.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--main-clr);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}

.login-box a:hover {
  font-weight: 400;
  background: var(--main-clr);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px #03e9f4, 0 0 5px #03e9f4, 0 0 5px #03e9f4,
    0 0 10px #03e9f4;
}
.login-box a span {
  position: absolute;
  display: block;
}
.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--smain-clr));
  animation: btn-anim1 1s linear infinite;
}
.login-box a:hover span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--main-clr));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--main-clr));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--smain-clr));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
.login-box a:hover span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--main-clr));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/*-----------Contact Us Button End-----------*/
.text1 {
  width: 80%;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  animation: fadeIn 3s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1 {
  position: sticky;
}
.text1 h1 {
  font-size: 50px;
  letter-spacing: 4px;
  line-height: 60px;
  background: -webkit-linear-gradient(left, var(--smain-clr), blue);
  background: -o-linear-gradient(right, var(--smain-clr), blue);
  background: -moz-linear-gradient(right, var(--smain-clr), blue);
  background: linear-gradient(to right, var(--smain-clr), blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.offer {
  background: var(--black);
  width: 80%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  margin-top: 2px;
  text-align: center;
}
.row {
  margin-top: 6rem;
}
.offer > h1 {
  background: -webkit-linear-gradient(left, var(--smain-clr), blue);
  background: -o-linear-gradient(right, var(--smain-clr), blue);
  background: -moz-linear-gradient(right, var(--smain-clr), blue);
  background: linear-gradient(to right, var(--smain-clr), blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 15px;
  display: inline;
}

.offer > h1::after {
  content: "";
  display: block;
  height: 3px;
  width: 50%;
  background: linear-gradient(to right, var(--smain-clr), blue);
  margin: auto;
  margin-top: 5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}
.offer > h1:hover::after {
  transform: scaleX(1);
}

.row > h3 {
  background: -webkit-linear-gradient(left, var(--smain-clr), blue);
  background: -o-linear-gradient(right, var(--smain-clr), blue);
  background: -moz-linear-gradient(right, var(--smain-clr), blue);
  background: linear-gradient(to right, var(--smain-clr), blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-top: 70px;
}
.components {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin-top: 100px;
  box-shadow: var(--smain-clr) 5px 5px 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 30px;
}
.components-reverse {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row-reverse;
  margin-top: 100px;
  box-shadow: var(--main-clr) 5px 5px 20px;
  padding-top: 15px;
  padding-bottom: 30px;
  border-radius: 30px;
}
.content {
  flex-basis: 40%;
}

.content > p {
  background: -webkit-linear-gradient(left, var(--smain-clr), blue);
  background: -o-linear-gradient(right, var(--smain-clr), blue);
  background: -moz-linear-gradient(right, var(--smain-clr), blue);
  background: linear-gradient(to right, var(--smain-clr), blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*-----------Card1-----------*/
.card1 {
  color: var(--smain-clr);
  background-image: url(./img/pc.jpg);
  background-size: cover;
  padding: 26rem 0 0;
  max-width: 40ch;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.card1:hover {
  transform: scale(1.05);
}

.card-content {
  /*padding is adjustable*/
  --padding: 1rem;
  /*padding is adjustable*/
  padding: var(--padding);
  letter-spacing: 1px;
  background: linear-gradient(transparent, var(--smain-clr) 250%);
  transform: translateY(55%);
  transition: transform 0.5s ease;
  transition-delay: 0.3s;
}

.card1:hover .card-content {
  transform: translateY(0%);
}
.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.card1:hover .card-content > *:not(.card-title) {
  opacity: 1;
  transition-delay: 0.7s;
}

.card-title {
  padding-bottom: 20px;
  position: relative;
  width: max-content;
}
.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: calc(100% + var(--padding));
  bottom: 15px;
  left: calc(var(--padding) * -1);
  background: var(--smain-clr);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.card1:hover .card-title::after {
  transform: scaleX(1);
}
/*-----------Card1 End-----------*/
/*-----------Card2-----------*/
.card2 {
  color: var(--main-clr);
  background-image: url(./img/monitor.jpg);
  background-size: cover;
  padding: 26rem 0 0;
  max-width: 40ch;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.card2:hover {
  transform: scale(1.05);
}
.card2:hover .card-content {
  transform: translateY(0%);
}
.card2:hover .card-content > *:not(.card-title) {
  opacity: 1;
  transition-delay: 0.7s;
}
.card2:hover .card-title::after {
  transform: scaleX(1);
}
/*-----------Card2 End-----------*/
/*-----------Card3-----------*/
.card3 {
  color: var(--smain-clr);
  background-image: url(./img/headphones.jpg);
  background-position: center;
  background-size: cover;
  padding: 26rem 0 0;
  max-width: 40ch;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.card3:hover {
  transform: scale(1.05);
}
.card3:hover .card-content {
  transform: translateY(0%);
}
.card3:hover .card-content > *:not(.card-title) {
  opacity: 1;
  transition-delay: 0.7s;
}
.card3:hover .card-title::after {
  transform: scaleX(1);
}
/*-----------Card3 End-----------*/
/*-----------Card4-----------*/
.card4 {
  color: var(--smain-clr);
  background-image: url(./img/mouse.jpg);
  background-position: center;
  background-size: cover;
  padding: 26rem 0 0;
  max-width: 40ch;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.card4:hover {
  transform: scale(1.05);
}
.card4:hover .card-content {
  transform: translateY(0%);
}
.card4:hover .card-content > *:not(.card-title) {
  opacity: 1;
  transition-delay: 0.7s;
}
.card4:hover .card-title::after {
  transform: scaleX(1);
}
/*-----------Card4 End-----------*/
