:root {
  ---grey: #999;
}

/* .flex {
  display: flex;
  align-items: center;
  justify-content: center;
} */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: 0;
  transition: 0.3s linear;
}

.relative {
  position: relative;
}

body {
  background-size: cover;
}

.divOfForm {
  background-color: white;
  margin: 0 auto;
  width: 600px;
  height: 90vh;
  max-width: 500px;
  /* top: 50%; */
  transform: translateY(5%);
  border-radius: 2%;
  padding-top: 4rem;
}

.divOfForm h1 {
  text-align: center;
  padding-bottom: 2rem;
}

form label {
  font-size: 0.9rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

form input {
  border-bottom: 1.9px solid;
  border-color: var(---grey);
  width: 80%;
  font-size: 1.01rem;
  font-weight: 500;
  padding-left: 25px;
}
